@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>

                .button {
        display: block;
        width: 300px;
        height: 25px;
        background: #9B67CF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        }
    </style>
    <title></title>
</head>
<body>
    <div>
        <a class="button" href="/authorize">Authorize with Microsoft Health</a>
    </div>
</body>
</html>
